@import url("main.css");

@import url("nav.css");

/* Main */
body {
  display: flex;
  justify-content: center;
  background-color: #131614;
}

.container {
  position: relative;
  width: 100vw;
  box-shadow: var(--shadow);
  margin: 0 0;
}

main {
  width: 100%;
  position: relative;
  background-color: white;
}

/* Profile text */
.profCard{
  position:relative;
  padding:15px;
}

.profCard>*{
  text-align: center;
  padding-top: 10px;
}

/* After profile */
#settings{
  position: absolute;
  right: 30px;
  bottom: 20px; 
}

#settings:hover{
  cursor: pointer;
  color: #4DA87D;
}

/* Footer */
footer {
  width: 100%;
  height: 5vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: end;
}

footer > h2 {
  font-size: 1rem;
  margin-bottom: 1em;
  color: var(--main-color);
}

@media only screen and (min-width: 400px) {
  .mainCard {
    width: 400px;
  }
}

@media only screen and (min-width: 500px) {
  #categoryfilterContainer {
    width: 400px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 818px) {
}

@media only screen and (min-width: 1198px) {
  main {
    width: 75%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1360px) {
  main {
    width: 85%;
  }
}